		<nav>
			<div class="logo"><h1><img src="assets/images/logof.png"></h1></div>
			<div class="menu">
				<a href="#home">HOME</a>
				<a href="#service">OUR SERVICES</a>
				<a href="#info">info</a>
				<a href="https://www.catchygrooming.com/">ABOUT US</a>
				<a href="#contact">Contact</a>				
			</div>
		</nav>

		<main class="background1" id="home">
			<section>
				<h2>Welcome to <span class="colorchange">Catchy</span><br></h2>
				<h1>Our services <span class="change-content"> </span></h1>
				<p>"Treat yourself to a great experience at your Doorstep."<br>-BHOPAL-</p>
				<a href="#2" class="btnone">Learn more</a>
				<a href="#3" class="btntwo">Sign Up</a>
			</section>
		</main>