<main class="background2" id="service">
			<p class="servicetext">| Our Services |</p>
			
			<div class="square">
				<span></span>
				<span></span>
				<span></span>
				<div class="content1">
					<h1>Haircut</h1>
					<p>Available for Adults <br>and Kids also.<br>Combo's also available.</p>
				</div>
			</div>

			<div class="square">
				<span></span>
				<span></span>
				<span></span>
				<div class="content1">
					<h1>Clean Shave</h1>
					<p>Available with special treatement.<br>Combo's also available.</p>
				</div>
			</div>

			<div class="square">
				<span></span>
				<span></span>
				<span></span>
				<div class="content1">
					<h1>Hair Color</h1>
					<p>Exclusive treatement.<br>Combo's also available.</p>
				</div>
			</div>

			<div class="square">
				<span></span>
				<span></span>
				<span></span>
				<div class="content1">
					<h1>Massage</h1>
					<p>Exclusive treatement.<br>Spa.</p>
				</div>
			</div>

		</main>